/* Dropdown Button */
.dropbotao {
    background-color: white;
    color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: Roboto
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #FC9900;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
     }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbotao {color: #FC9900;}


.horizontal-item {
    display: inline;
    font-family: Roboto;
}

.nav-silvio-custom {
    background: white;
    margin-right: 80px;
    margin-left: 80px;
}

#index:hover {
    color: #FC9900;  

}

#search-li {
    margin: 10px;
}

#search-container {
    float: right;
    margin: 8px;
    background-color: #e9e9e9;

}

#search-bar {
    overflow: hidden;
    background-color: #e9e9e9;
    border: hidden;
    padding: 8px;
    font-size: 16px;
}

#search-btn {
    float: right;
    margin: 8px;
    padding-right: 8px
}

ul {
    list-style-type: none;
    text-decoration-style: none;
    margin: 0;
    padding: 0;
} 

body {
    height: auto;
}